<div id="wrapper">

  <div id="header">

  </div>

  <div id="sidebar-wrapper">
    <div id="sidebar-content">

    </div>
  </div>

  <div id="content-wrapper">
    <div class="container" id="content">

    </div>
  </div>


  <div id="footer">

  </div>

</div>
