<div id="wrapper">

  <div id="header">

  </div>

  <div id="sidebar-wrapper">
    <div id="sidebar-content">

    </div>
  </div>

  <div id="content-wrapper">
    <div id="content">

    </div>
  </div>


  <div id="footer">

  </div>

</div>

<script type="text/javascript">
  $(function() {
    window.router = new SimpleCms.Routers.ApplicationRouter({subjects: <%= (render partial: "subjects/index.json").html_safe %>});
    Backbone.history.start();
  });
</script>
